<html>
    <head>
        <title>Anindya's Blog</title>
    </head>
    <body bgcolor="#000000">
        <div>
            <h1 style = "font-family:Kristen ITC;font-size:55px;font-style:bold;color:#ffbb00;text-align:center;"  >Yeh hai apun ka BLOG !!!</h1>
        </div>
<b><hr></b>
        <div>
            <p style="color:#ffffff">published: 15.05.2019, 10:05</p>
            <h2 style = "font-family:Ink Free;font-size:35px;font-style:bold;color:#83ff00;text-align:center;">My first post</h2>
            <p style = "font-family:Jokerman;font-size:35px;text-align:center;color:#ffffff;">I AM GROOT !!! </p>

        <div>
		<b><hr></b>
            <p style="color:#ffffff">published: 15.05.2019, 10:05</p>
            <h2 style = "font-family:Ink Free;font-size:35px;font-style:bold;color:#83ff00;text-align:center;">My second post</h2>
            <p style = "font-family:Jokerman;font-size:35px;text-align:center;color:#ffffff;">Once again, I AM GROOT !!!</p>
        </div>
    </body>
</html>